/* Generic Web Page Styling */
/* Universal Style for Web Page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Setting */
body {
    background-color: #d9dcd6;
}

/* Hyperlinks General Setting */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph Setting */
p {
    font-size: 16px;
}

/* Main Header Styling */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Header Section */
/* Header Class Styling */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Different Colouring for seo letters in Main Header */
.seo {
    color: #d9dcd6;
}

/* Navigation Styling */
.navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Navigation Unordered List Styling */
.navigation ul {
    list-style-type: none;
}

/* Navigation List Item Styling */
.navigation ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Navigation List Link Hover Colour */
.navigation ul li a:hover {
    color: #d9dcd6;
    text-decoration: underline;
}

/* Figure Element */
/* Figure Image Styling */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main Element */
/* Main Content Styling */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Main Section Element Styling */
.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Main Section Image Styling */
.section-img {
    max-height: 200px;
}

/* Main Section Image Left Styling */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Main Section Image Right Styling */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Main Section Sub Header Styling */
.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Aside Element */
/* Aside Main Content Styling */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Aside Article Styling */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Aside Article Sub Header Styling */
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Aside Article Image Styling */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer Element */
/* Footer styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
